* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.nav {
    margin: auto;
    width: 100%;
    font-family: arial;
    background: skyblue;
}

.nav .nav-kiri ul li {
    padding: 3px 20px;
    list-style: none;
    position: relative;
    display: inline-block;
    text-align: left;
}

a {
    text-decoration: none;
}


.nav .nav-kanan {
    padding: 3px 20px;
    position: relative;
    bottom: 25px;
    display: block;
    text-align: left;
    float: right;
}

h1 {
    color: red;
}

h2 {
    color: blue;
}

h3 {
    color: hotpink;
}

h4 {
    color: green;
}

h5 {
    color: skyblue;
}

h6 {
    color: khaki;
}